* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

#menubar {
    position: absolute;
    top: 280px;
    left: -200px;
    width: 200px;
    height: 100%;
    border-top: 1.5px solid #c4c4cc;
    background: #3f3f3f;
    transition: all 300ms linear;
}

#menubar.active {
    left: 0px;
}

#menubar .menu-btn {
    position: absolute;
    left: 220px;
    top: 10px;
}

#menubar .menu-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: #3f3f3f;
    margin: 5px 0px;
    border-radius: 2.5px;
    cursor: pointer;
}

#menubar div.list div.item {
    padding: 15px 10px;
    border-bottom: 1.5px solid #c4c4cc;
    color: #fcfcfc;
    text-transform: uppercase;
    font-size: 15px;
    
}

#menubar .list .item:hover {
    color: #48c9b0;
}