* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

#menubar {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #3f3f3f;
}
#sidebar .list .item {
    padding: 15px 10px;
    border-bottom: 2.5px solid #c4c4cc;
    color: #fcfcfc;
    text-transform: uppercase;
    font-size: 15px;
}

#sidebar .list .item:hover {
    color: #48c9b0;
}