/* Navbar */
.green {
    color: rgb(124, 197, 14);
}

.navbar {
    border-bottom: 1px solid #888;
}

.nav-link:hover {
    color: rgb(141, 222, 20) !important;
}

.icon-link {
    text-decoration: none;
}

.icon-link:hover {
    color: rgb(141, 222, 20) !important;
}

/* Slider */
.carousel {
    border-top: none;
    border-bottom: 2px solid #888;
}

.slider-image {
    width: 100vw;
    height: 45vh;
    background-position: center;
    background-size: cover;
}