@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

section .imgBx {
    position: relative;
    width: 50%;
    height: 100%;
}

section .imgBx::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225seg, #11e831, #03a9f4);
    z-index: 1;
}

section .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}